body {
    margin: 0;
    padding: 0;
}




/* the navigation bar */
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed; /*set navbar to fixed pos */
    top: 0; /*position the navbar at the top of the page */
    width: 100%; /* Full width */

}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;

}

/* change background on mouse-over */
.navbar li a:hover {
    background: #ddd;
    color: black;
}
li {
    display: list-item;
    text-align: -webkit-match-parent
}
ul.horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}



/* Main content */


.main{
    padding: 30px;
    height: 1500px;
    margin-top: 30px; /*Add a top margin to avoid content overlay */
}

#landing{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrowBox {
    background-image: url("./images/arrow.png");
    position: absolute;
    width: 15%;
    height: 25%;
    background-attachment: fixed;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    bottom: 3%;
    animation: jumpUpDown 1s infinite alternate;

}



#hope_logo{
    float: left;
    margin: 25px -1000px 0 200px;

}



#Portrait {
    float: left;
    margin: 25px 15px 0 0;

}

#AboutMe{
    text-decoration: underline;
    text-align: left;
    font-size: 20px;
}

#Education{
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
}

#University{
    text-decoration: underline;
    text-align: center;
}

#Center{
    text-align: center;
}

#FilmMain {
    text-align: center;
}



#College{
    text-decoration: underline;
    text-align: center;
}

#FilmSociety{

    text-decoration: underline;
    text-align: center;
    font-size: 40px;

}

.slideRight{
    animation: slideRight 2s;
}

@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes jumpUpDown {
    0%{
        transform: translateY(0px);

    }

    100%{
        transform: translateY(20px);
    }
}







